<!DOCTYPE html>
<html>
<head>
    <title>Register Player</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="form-container">

    <div class="form-box">
        <h2>Register Player</h2>

        <form method="POST" action="/register">
            <input type="text" name="name" placeholder="Name" required>
            <input type="number" name="age" placeholder="Age" required>
            <input type="text" name="position" placeholder="Position" required>
            <input type="text" name="contact" placeholder="Contact" required>
            <input type="text" name="video" placeholder="Video Link">

            <button type="submit">Register</button>
        </form>
    </div>

</div>

</body>
</html>